$ng-black-primary: mat-palette($mat-grey, 700, 300, 900);
$ng-black-accent: mat-palette($mat-blue-grey, 400);
$ng-black-warn: mat-palette($mat-red, 500);

$ng-black-theme: mat-dark-theme(
  $ng-black-primary,
  $ng-black-accent,
  $ng-black-warn
);
